terraform.tfvars

# Local .terraform directories
**/.terraform/*

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform state files
*.tfstate
*.tfstate.backup

# Terraform plan output files
*.tfplan

# Terraform crash log files
crash.log

# Custom sensitive files
*.tfvars
secrets.auto.tfvars
